@charset "utf-8";
//@import "common";
//@import "layout";

.home-tag {
    margin: 0 20px;
    padding: 40px 0;
    text-align: center;
    h4 {
        margin: 30px 0;
        color: rgb(51,51,51);
        font-size: 18px;
    }
    p {
        font-size: 16px;
        color: rgb(153, 153, 153);
    }
}
.home-tag-no {
    border-left: 1px solid #ddd;
    text-align: left;
    padding: 70px 0 40px 20px;
    line-height: 2;
}

@media screen and (max-width:992px) {
    .home-tag-no {
        border-left-color: transparent;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
