
@charset "utf-8";
//@import "common";
@import "layout";
/*学生卡片*/
.stu-card{
    margin: 20px;
    padding: 20px 30px 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 2px #eee ,0 -2px 2px #eee,2px 0 2px #eee ,-2px 0 2px #eee;
    background: rgb(255,255,255);
    text-align: center;
    .stu-thumbnail{
        margin: 0 auto;
        width: 158px;
        height: 158px;
        overflow: hidden;
        border: 1px solid rgb(250,250,250);
        border-radius: 50%;
        img{
            width: 100%;
        }
    }
    h4{
        margin: 30px 0;
        font-size: 18px;
        color: rgb(51, 51, 51);
        
    }
    p{
        font-size: 16px;
        color: rgb(153, 153, 153);
    }
}
