*{
	padding: 0;
	margin: 0;
	overflow-x:hidden;
}
.wrap{
	margin:0 auto;

}
.box {
			background-color: #fea600;
			width: 30%;
			padding-bottom: 30%;
			float: left;
			margin:1%;
			border-radius: 5%;
		}
		.clearfix {
			clear:both;
		}
.btn-group {
	width: 100%;
	margin: 0 auto;
}
.btn {
	display: block;
	width: 90%;
	border: 1px  #fea600 solid;
	background-color: white;
	margin-top: 15px;
	color: #fea600;
	text-align: center;
	border-radius: 5px;
	padding: 15px;
}

a:link {
	text-decoration: none;
}
a:hover {
	background-color: #fea600;
	color: white;
}