/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  padding: 0;
  margin: 0; }

header {
  background-color: #5fc0cd;
  height: 4rem;
  line-height: 4rem;
  position: fixed;
  width: 100%;
  top: 0; }
  header img {
    width: 1rem;
    position: absolute;
    top: 1rem;
    left: 1.5rem; }
  header p {
    color: #fff;
    text-align: center;
    font-size: 1.6rem; }

main {
  margin-top: 4rem; }

.hero {
  background: url("images/bg.png") no-repeat top left;
  background-size: cover;
  height: 45vw;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center; }
  .hero img {
    display: block;
    width: 7.5rem;
    height: 7.5rem;
    margin-left: 1.3rem;
    margin-right: 1.8rem; }
  .hero .user-name {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
    .hero .user-name span {
      font-size: 1.245rem; }
  .hero .user-address img {
    width: 1rem;
    height: auto;
    float: left;
    margin-left: 0.2rem;
    margin-right: 0.7rem; }

.des {
  font-size: 1.4rem;
  margin-bottom: 6rem; }
  .des .main-title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem #e1e5e7 solid; }
    .des .main-title > div {
      height: 1.2rem;
      border-left: 0.2rem #5fc0cd solid;
      margin-left: 1.3rem;
      padding-left: 1.1rem; }

.main-list li {
  margin-left: 1.5rem;
  display: flex;
  border-bottom: 0.1rem #e1e5e7 solid; }
  .main-list li:last-child {
    border: none; }
.main-list #stars {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }
  .main-list #stars .main-th1 img {
    width: 1rem;
    height: auto;
    margin-right: 0.5rem; }
  .main-list #stars .main-th1:nth-child(1) {
    margin-left: 1.2rem;
    padding-right: 0.8rem;
    margin-right: 0.8rem;
    border-right: 0.2rem #f8f9f9 solid; }
.main-list .table {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center; }
  .main-list .table .main-th2 {
    height: 1.2rem;
    color: #e1e5e7;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    border-right: 0.1rem solid #f1f3f4;
    min-width: 5rem;
    font-size: 1.2rem; }
  .main-list .table .main-th3 {
    padding-left: 1.2rem; }
    .main-list .table .main-th3 #self-intro {
      font-size: 1.245rem; }
  .main-list .table .th4 {
    color: #e26163; }

footer {
  box-sizing: border-box;
  padding: 0 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  height: 6rem;
  padding-bottom: 0.5rem;
  border-top: 0.1rem #e1e5e7 solid; }
  footer button:focus {
    outline: none; }
  footer .btn-message {
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 49%;
    height: 3rem;
    margin-right: 1%;
    border: 0.2rem solid #5fc0cd;
    background-color: #fff;
    color: #5fc0cd; }
  footer .btn-phone {
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 49%;
    height: 3rem;
    margin-right: 1%;
    border: 0.2rem solid #5fc0cd;
    background-color: #5fc0cd;
    color: #fff; }

/*# sourceMappingURL=index.css.map */
