html {
	font-size: 62.5%;
}

body {
	margin:0;
	padding: 0;
	
}

header {
	background-color: #5fc0cd;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
	position: fixed;
	top:0;
	width: 100%;
	margin: 0;
}

.btn-group {
	
	font-size: 1.5rem;
	height: 3rem;
}
.btn.dark {
	color: #fff;
	background-color: #55a8b3;

	border-radius: 0.4rem;
}
.btn.btn-default {
	color: #5fc0cd;
	border-radius: 0.4rem;
}

.location {
	width: 2rem;
	height: 2rem;
	background:url("images/sprite.png") no-repeat;
	background-position: 0 0;
	background-size: cover;
	position: absolute;
	right: 1rem;
	top:1rem;
}


/*
=========MAIN===========*/
main {
	margin-top: 4rem;
	font-size: 1.3rem;
}


.row.selection {
	border-bottom: 0.1rem solid #e1e5e7;
	height: 3.6rem;
	display: flex;
	align-items: center;

}
.select {

	height: 1.8rem;

	color:#999999;
	text-align: center;
	vertical-align: center;
	font-weight: bold;
	vertical-align: center;
}


.col-xs-4:nth-child(2) {
	border-right: 0.1rem solid #e1e5e7;
	border-left: 0.1rem solid #e1e5e7;
}
.caret {
	position: absolute;
	top: 0.9rem;
	right: 0.4rem;
}





.list-group-item-title {
	color: #999;
	display: flex;
	align-items: center;
}
.list-group-item-title .date {
	width: 1.1rem;
	height: 1.1rem;
	background: url("images/sprite.png") no-repeat;
	background-position: -22px 0;
	background-size: cover;
	margin-right: 1rem;
}
.list-group-item-title .place {
	width: 1.1rem;
	height: 1.1rem;
	background: url("images/sprite.png") no-repeat;
	background-position: -11px 0;
	background-size: cover;
	margin-right: 0.6rem;

}


.list-group-item-text {
	color: #333;

	font-weight: bold;
	margin-left: 3rem;
	
}

.list-group-item-price {
	font-size: 1.4rem;
	color: #e63b0e;
	position: absolute;
	right: 2.3rem;
	
}
.list-group-item-price span {
	color: #5fc0cd;
}


.list-group-item .row {
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
}



.list-group-item {
	border:none;
	border-bottom: 2px solid #e1e5e7;
}


/*
============FOOTER===========*/
footer {
	height: 4.2rem;
	background-color: #f8fafb;
	width: 100%;
	position: fixed;
	bottom: 0;
	
	font-size: 0.9rem;
	border-top: 0.1rem solid #f2f5f6;
}
footer .wraper {
	margin-left: 7rem;
	margin-right: 7rem;
	display: flex;
	justify-content: space-between;	
	align-items: center;
	text-align: center;
}


.home .image {
	width: 2rem;
	height: 2rem;
	background: url("images/sprite.png") no-repeat;
	background-position: -108px 0;
	background-size: cover;

}
.home a:link {
	text-decoration: none;
	color: #5fc0cd;
}
.write {
	width: 4rem;
	height: 4rem;
	border-radius: 10rem;
	background-color: #5fc0cd;
	display: flex;
	align-items: center;
	justify-content: center;

}
.write .image {
	width: 2rem;
	height: 2rem;
	background: url("images/sprite.png") no-repeat;
	background-position: -64px 0;
	background-size: cover;
}


.mine a:link {
	text-decoration: none;
	color: #e1e5e7;
}
.mine .image {
	width: 2rem;
	height: 2rem;
	background: url("images/sprite.png") no-repeat;
	background-position: -85px 0;
	background-size: cover;


}

