@import "common";

.navbar {
	background-color: #29b078;
	margin-bottom: 0;
}
#mainNavbar  {
	float: right;
	display: flex;
	font-size: 0.16rem;
}
#mainNavbar  li a{
	height: 1rem;
	width: 1rem;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	border-bottom: 4px solid #29b078;
	
}
#mainNavbar  li a {
	color: #fff;
}

#mainNavbar  li a:hover {
	border-bottom-color:#fff;
	background-color: #29b078;
}
#mainNavbar  li a:visited {
	background-color: #29b078;
}