html {
	font-size: 62.5%;
}
body {
	color: white;
	font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	background-color: #68cdd5;
	min-width: 32rem;
	padding: 0;
	margin: 0;
}

.container {
	margin:0 5%;
}
.back_btn {
	margin-top: 2rem;
	margin-bottom: 4rem;
}
.hero {
	margin:5rem auto 6rem;
	max-width: 100%;
}
.hero img {
	display: block;


	margin:0 auto;
}

.des {
	font-size: 3rem;
	line-height: 5.4rem;
	display: block;
	padding: 6rem;
	margin-bottom: 12rem;
}
.icons {
	font-size: 2.4rem;
	text-align: center;

}
.icons:after {
	display: block;
	content: "";
	clear:both;
}

.iconLeft {
	float: left;
	margin-left: 5%;
}

.iconRight {
	float: right;
	margin-right: 5%;
}
