body {
	color: white;
	font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	background-color: #68cdd5;
	padding: 0;
	margin: 0;
}
.header {
	background-color: #22292c;
	font-size: 34px;
	position: fixed;
	width: 100%;
	height: 70px;
	line-height: 70px;
	z-index: 1;
}
.alignLeft {
	display: block;
	position: absolute;

	left: 5%;
}
#arrow {

	position: relative;
	top: 6px;

}
.alignCenter {
	display: block;
	position: absolute;

	left: calc((100%-66px)/2);
}
.alignRight {
	display: block;
	position: absolute;

	right: 5%;
}
.container {
	position: relative;
	top:70px;
	margin:0 5%;
}
.back_btn {
	margin-top: 20px;
	margin-bottom: 40px;
}
.hero {
	display: block;
	margin:5px auto 60px;
}
.des {
	font-size: 30px;
	display: block;
	padding: 60px;
	margin-bottom: 120px;
}
.icons {
	font-size: 24px;
	text-align: center;


}
.iconLeft {
	float: left;
	margin-left: 15%;
}
.iconRight {
	float: right;
	margin-right: 15%;
}
