/** {
	padding:0;
	margin:0;
}*/
ul {
	margin:0;
	padding: 0;
}
html {
	padding:0;
}
body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: "Microsoft YaHei",sans-serif;

}

header {
	background-color: #5fc0cd;
	height: 3rem;
	width: 100%;
	position: fixed;
	top: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

header span {
	font-size: 1.5rem;
	color: #fff;
	position: absolute;
	left: 1rem;


}
header h2 {
	font-size: 1.2rem;
	color: #fff;
}


/*=========HERO SECTION ===========*/
main {
	margin-top: 3rem;
}
.hero {
	background:url('images/bg.png') no-repeat;
	background-size: 100% 100%;
	color: #fff;
/*	display: flex;*/
	padding:4rem 2rem; 
}
.hero-bg {
	overflow: hidden;
	display: flex;
}
.hero img {
	display: block;
	margin-right: 2rem;
	height: 100%;
}
.user-name {
	margin-top: 3rem;
	font-size: 1.8rem;
	letter-spacing: 0.3rem;
	font-weight: bold;
}
.user-address {
	font-size: 1.2rem;
	background:url("images/location.png") no-repeat;
	padding-left: 1.5rem;
}

/*=========DESCRIPTION ===========*/
.des {
	font-size: 1rem;
	margin-bottom: 5rem;
}
.main-title {
	margin-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 0.1rem #e1e5e7 solid;
}
.main-title span {

	padding-left: 0.5rem;
	border-left: 0.2rem solid #5fc0cd;
	margin-left: 1.5rem;
	font-size: 1.4rem;
}


.main-th1 {
	display: inline-block;
	padding: 0 1rem 0 1.5rem;
	background: url('images/star.png') no-repeat left center;
	background-size: 1.5rem;
	font-size: 1.4rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}
.main-list {
	margin-right: 1rem;
}

.main-list li {
	display: flex;

	border-bottom:  0.1rem #e1e5e7 solid;
}
.main-th2 {
	color: #e1e5e7;
	margin: 1rem;
	padding-right: 1rem;
	border-right:0.1rem solid #e1e5e7;

}
.main-th3 {
	margin: 1rem;
}
.th4 {
	color: #e26163;
}
/*=========FOOTER ===========*/
footer {

	box-sizing: border-box;
	padding: 0 1rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;

	padding-bottom: 0.5rem;

}
#btn-message {
	border-radius: 1rem;
	border:0.2rem solid #5fc0cd;
	background-color: #fff;
	color: #5fc0cd;
	width: 49%;
	height: 3rem;
	margin-right: 1%
}
#btn-phone {
	border-radius: 1rem;
	background-color: #5fc0cd;
	color: #fff;
	width: 49%;
	height: 3rem;
	border:none;
	margin-left: 1%;
}