body {
	background-color: #eff0f4;
	margin: 0;
	padding: 0;
	font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	color: #fff;
	font-size: 62.5%;
}
header {
	height: 6rem;
	line-height: 6rem;
	background-color: #5fc0cd;
	margin: 0;
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
	padding: 0 2.5rem;
}
header a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
}
header a:nth-child(2){
	font-size: 1.8rem;
}



.user-phone {
	margin-top: 1rem;
	display: flex;
	height: 5rem;
	background-color: #fff;
	align-items: center;
}
.user-phone input {
	width: 100%;
	border: none;
	padding-left: 1.7rem;
	font-size: 1.6rem;
}
.user-phone .icon {
	width: 6rem;
	height: 1rem;
	padding: 1rem 1.5rem;
	background: url("images/phone.png") center center no-repeat;

	border-right: 0.2rem solid #eff0f4;
}
.user-pwd {
	margin-top: 1rem;
	display: flex;
	height: 5rem;
	background-color: #fff;
	align-items: center;
}
.user-pwd input {
	width: 100%;
	border: none;
	padding-left: 1.7rem;
	font-size: 1.6rem;
}
.user-pwd .icon {
	width: 6rem;
	height: 1rem;
	padding: 1rem 1.5rem;
	background: url("images/lock.png") center center no-repeat;

	border-right: 0.2rem solid #eff0f4;
}

.signIn-btn {
	width: 100%;
	height: 7rem;
	line-height: 7rem;
	font-size: 1.8rem;
	font-weight: bold;
	color: #fff;
	background-color: #5fc0cd;
	margin-top: 2rem;
	border:none;
}

.pwd-miss {
	float: right;
	font-size: 1.6rem;
	margin-top: 1rem;
	margin-right: 1rem;
}
.pwd-miss a {
	text-decoration: none;
	color: #5fc0cd;
}







input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaa; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aaa; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #aaa; }