/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }

header {
  height: 3.4rem;
  background-color: #29bde0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  border-radius: 0; }
  header img {
    position: absolute;
    left: 1.2rem;
    top: 1rem; }

.container {
  margin-top: 3.4rem;
  font-size: 1.8rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }
  .container .last-time {
    background-color: #fff;
    border: 0.1rem solid #dbdbdb;
    color: #9a9a9a;
    margin-top: 1.2rem;
    height: 6rem;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    padding: 0.6rem 1.2rem;
    font-size: 1.4rem;
    border-radius: 4px;
    font-family: sans-serif; }
    .container .last-time:hover, .container .last-time:focus, .container .last-time:active, .container .last-time.active {
      background-color: #ddd;
      color: #333;
      border-color: #999; }
    .container .last-time a {
      position: absolute;
      right: 0.8rem;
      top: 2rem; }

.table {
  text-align: center;
  list-style: none;
  background-color: #fff;
  border: 0.1rem solid #dbdbdb;
  position: relative; }
  .table .table-title {
    color: #fcce7a;
    height: 4.4rem;
    border-bottom: 0.1rem solid #fcce7a;
    padding-top: 1.3rem;
    margin-bottom: 1.5rem;
    font-size: 1.9rem; }
  .table .table-cell {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 2.5rem; }
    .table .table-cell button {
      height: 6.6rem;
      margin-bottom: 1.5rem;
      font-size: 1.6rem;
      line-height: 1.6rem;
      letter-spacing: 5px;
      background-color: #29bde0;
      width: 100%;
      color: #fff;
      border-color: #29bde0;
      border-radius: 0.4rem;
      border: none; }
      .table .table-cell button:hover {
        background-color: #1592af; }
  .table p {
    font-size: 1.3rem;
    color: #787878; }
  .table .controller {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.9rem; }
    .table .controller .pointer {
      background-color: #f0f0f0;
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 100px;
      margin-left: 0.5rem; }
      .table .controller .pointer.active {
        background-color: #69d1e9; }
  .table #next-page {
    position: absolute;
    right: 0.4rem;
    top: 50%; }

@media (min-width: 768px) {
  .container {
    max-width: 728px; } }
@media (min-width: 992px) {
  .container {
    max-width: 940px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

/*# sourceMappingURL=login.css.map */
