@import "_reset.scss";

$backgroundColor:#29bde0;
$borderColor:#74d4eb;

html {
	font-size: 62.5%;
}
body {
	font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	padding: 0;
	margin: 0;
	margin-bottom: 6.4rem;
}




header {
	background-color: $backgroundColor;

	display: flex;
	justify-content:space-between;
	align-items: flex-end;
	font-size: 1.7rem;
	color: white;
	padding:1rem 1rem;
	border-bottom: 0.1rem solid $borderColor;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:99;


	#homepage {
	width: 2.6rem;
	height: 2.2rem;
	}
	#info {
		width: 2rem;
		height: 2.1rem;
	}
}


.board {
	margin-top: 4.4rem;
	background-color: $backgroundColor;
	padding:1rem 10%; 
	.victory {
		position: relative;
		text-align: center;
		img {
		margin:0 auto;
		width: 70%;
		max-width: 30rem;
		  display: block;
		}
		p{
		color: #ffc865;
		font-size: 1.6rem;
		line-height: 2.05rem;
		text-align: left;
		display: inline-block;
		margin-top: 1rem;
		}
		

	}
	.result {
		margin-top: 3rem;
			.result-list{
				color: #fff;
				font-size: 1.3rem;
				padding: 0;
				list-style: none;

				li { line-height: 2rem; }
			}
		}

}

.day {
	padding: 0.7rem 16% 1rem 10%;
	border-bottom:0.1rem solid #ededed;
	max-width: 60rem;
	.day-content-heading {
		font-size: 1.5rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 1.2rem;
		b {
			color: #515151;
		}
		span {

			font-size: 1rem;
			color: #c7c7c7;
			vertical-align: bottom;
		}

	}
	.day-content-text {
		margin-bottom: 0.5rem;
		font-size: 1.3rem;
		color: #a6a6a6;
	}
} 



footer {
	height: 6.4rem;
	display: flex;
	align-items: center;
	background-color:  $backgroundColor;
	font-size: 2rem;
	background-color: rgba(41,189,224,.48);

	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:99;
	.btn-group-justified {
	  display: table;
	  width: 100%;
	  display: flex;
		justify-content: space-between;
		max-width: 60rem;
	  .btn-group {
	  	display: table-cell;
	  	float: none;
	  	text-align: center;
	  	margin:1rem 3%;
		width: 100%;
		max-width: 60rem;
	  	
	  	position:relative;
	  	vertical-align: middle;
	  	background-color: #f66f6f;
		border-radius: 5px;
		padding:1rem 3%;
		
		a { text-decoration: none;color: #fff;width: 100%; font-size:1.4rem;}
		
		#toShare {
			background-color: #fbb435;
		}
	}
	


	}
	.btn-group {
		
		padding:1rem 3%;

		display: flex;

		justify-content: space-between;
	
	}
	#oneMoreTime {
		background-color: #f66f6f;
		

	}
	#toShare {
		background-color: #fbb435;
		border-radius: 5px;
	}
}


@media screen and (min-width: 600px){
	.result {
		text-align: center;
	}
	.result-list {
		display: inline-block;
	}
	.result-list li {
	line-height: 1rem;
	text-align: left;
	}
	.day {
		margin: 0 auto;
		padding: 0.7rem 5rem 1rem 5rem;
	}
	.btn-group-justified {
		margin: 0 auto;
	}
} 
