/*iconfont*/

@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_383572_yrdgej890ok73nmi.eot?t=1504753464345'); /* IE9*/
  src: url('//at.alicdn.com/t/font_383572_yrdgej890ok73nmi.eot?t=1504753464345#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAATUAAsAAAAAByAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZW7kgLY21hcAAAAYAAAABeAAABhpm8Br5nbHlmAAAB4AAAAQQAAAEI/lXpbmhlYWQAAALkAAAALwAAADYOzPRmaGhlYQAAAxQAAAAcAAAAJAfeA4RobXR4AAADMAAAAAwAAAAMC+kAAGxvY2EAAAM8AAAACAAAAAgAdgCEbWF4cAAAA0QAAAAfAAAAIAESAF1uYW1lAAADZAAAAUUAAAJtPlT+fXBvc3QAAASsAAAAJwAAADgoUlPseJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/sE4gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVDxTZG7438AQw9zA0AAUZgTJAQAlzwyNeJzFkMENgDAMAy9t6QOxRH88GIgXc3TirlFMKA8mqCXHimMpUYAFiOIhJrAL48Ep19yPrO4nz2SpEait9K7+U0U0y65BJTMNNm/1H5vXfXT6CnVQJ7byknADolcMEwAAeJwVh71Kw1AYQL/vXvNXkxt78580zZ/tVaoBY+witouL4iA4OfYBdC0FhyyCg4PPIIIvUbCvIvoYEo2Hw4EDEsDvJ11THyzYgyM4h2sAlCeYMxJjJuqSTNDJJMezGRWFyJQiL+kZerlsu9W0HnuyIpvIcIjHWTUVJRF4Us/IKVZujBhE4Q0fDTh9wZ4vho/tJXlFJykG5uywvTiY21VqqUud84DzZ1WWJJWQLZPhnedqktaT2zfJDJ11sk8S1AMRXt0aacQXT/V9PPI0xKZBK0rZ+7wf9jsfQtfigbJjqH5oFLs2Lr+3fUuPx1/Qgf+hG7IC0k2GdPPT4AdZtQz+ABOOKJB4nGNgZGBgAGKO/Xs64vltvjJwszCAwNVrNywQ9P+HLAzMEkAuBwMTSBQARBILOwB4nGNgZGBgbvjfwBDDwgACQJKRARUwAwBHCQJsBAAAAAPpAAAEAAAAAAAAAAB2AIR4nGNgZGBgYGYIZGBlAAEmIOYCQgaG/2A+AwAQ9wFwAHicZY9NTsMwEIVf+gekEqqoYIfkBWIBKP0Rq25YVGr3XXTfpk6bKokjx63UA3AejsAJOALcgDvwSCebNpbH37x5Y08A3OAHHo7fLfeRPVwyO3INF7gXrlN/EG6QX4SbaONVuEX9TdjHM6bCbXRheYPXuGL2hHdhDx18CNdwjU/hOvUv4Qb5W7iJO/wKt9Dx6sI+5l5XuI1HL/bHVi+cXqnlQcWhySKTOb+CmV7vkoWt0uqca1vEJlODoF9JU51pW91T7NdD5yIVWZOqCas6SYzKrdnq0AUb5/JRrxeJHoQm5Vhj/rbGAo5xBYUlDowxQhhkiMro6DtVZvSvsUPCXntWPc3ndFsU1P9zhQEC9M9cU7qy0nk6T4E9XxtSdXQrbsuelDSRXs1JErJCXta2VELqATZlV44RelzRiT8oZ0j/AAlabsgAAAB4nGNgYoAALgbsgJmRiZGZkYWBsYIrJTG/ODEvKzMxn4EBACllBLgA') format('woff'),
  url('//at.alicdn.com/t/font_383572_yrdgej890ok73nmi.ttf?t=1504753464345') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_383572_yrdgej890ok73nmi.svg?t=1504753464345#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daosanjiao:before { content: "\e621"; }


body {
	font-family: "Microsoft YaHei" ,sans-serif;
	font-size: 62.5%;
}
.container {
	width: 62.5%;
}
/*              header
==========================*/
.topbar{
	height: 3rem;
	background-color: #1d7ad9;
	color: #fff;
	font-size: 1.1rem;

}
.topbar-wrapper {
	width: 62.5%;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	display: flex;
	height: inherit;
}
#phone-number {
	width: 25%;
		line-height: 3rem;
}
#topNavbar {
	width: 75%;
	display: flex;
	justify-content: flex-end;

}
#topMenu {
	display: flex;
}
#topMenu a {
	padding: 0.74rem;
	color: #fff;
	text-decoration:none;
	border-left: 1px solid #87b9eb;
	border-right: 1px solid #87b9eb;
}
#topMenu a:hover {
	padding-right: 2.8rem;
	padding-left: 2.8rem;
	background-color: #fff;
	color: #333;
	border:none;
}

/*              navigation
==========================*/
.navigation {
	background-color: #f9f9f9;
}
.navigation .container {
	display: flex;

	justify-content: flex-end;
}
#mainNavbar {
	font-size: 1.25rem;
	height: 7.8rem;
	margin-bottom: 0;

}
#mainMenu {
	width: 41rem;
	height: inherit;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: center;
}
#mainMenu li {
	margin-left: 10%;
}
#mainMenu li a {
	padding: 1rem;
	color: #333;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 1px 1px 1px rgba(3,3,3,0.08);

}
#mainMenu li a:hover {
	background-color: #1d7ad9;
	color: #fff;
}
/*              instructor
==========================*/
.instructors a{
	color: #ccc;
	font-size: 1.4rem;
	text-decoration-line: none;
}
.instructors {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	text-align: center;
	margin-top: 5rem;
}
.progression {
	width: 12.5rem;
	height: 0.4rem;
	border-radius: 2px;
	background-color: #ccc;
	position: relative;
	margin-bottom: 2.5rem;
}
.circle {
	width: 2rem;
	height: 2rem;
	border-radius: 20px;
	background-color: inherit;
	position: absolute;
	left: 5.25rem;
	top: -0.8rem;
	color: #fff;
	font-size: 1.25rem;
}

.instructor:hover .progression{
	background-color: #ff7f02;
	color: #ff7f02;
}
.instructor:hover p{
	color: #ff7f02;
}
/*              form
==========================*/
.forms {
	font-size: 1.4rem;
	color: #666666;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 10rem;
}
form {

}
.des {
	margin-top: 4rem;
	color: #333333;
	font-size: 1.7rem;
	display: flex;
	align-items: center;

}
.des span {
	display: inline-block;
	background-color: #1d7ad9;
	width: 0.3rem;
	height: 1.6rem;
	border-radius: 1.5px;
	margin-right: 0.4rem;
}

.information {
	background:linear-gradient(to top,#f1f1f1,#f5f5f5);
	color: #1d7ad9;
	height: 3.7rem;
	padding: 0.9rem;
}
.information img {

}
.information p {

}
.details {
	padding:2.5rem;
}
.details .row {
	display: flex;
	align-items: center;
}
label {
	font-weight: normal;
	font-size: 1.4rem;
}
.selection {
	display: flex;
}
.selection2 {
	display: flex;
	flex-direction: column;
}
.selection3 {
	display: flex;
	justify-content: space-between;
}

.select-group {
	display: flex;
}
.select-group:nth-of-type(2){
	margin-top: 1rem;
}
.choice {
	display: flex;
	align-items: center;


}
.choice2 {
	width: 15%;
	display: flex;
	align-items: center;
}

.length input[type="text"] {
	width: 5.5rem;
	margin-left: 0.7rem;
	margin-right: 0.3rem;
}
.length {
	display: flex;
	align-items: center;
/*	width: 20%;*/
	max-width: 20%;
	margin-right: 5%;
}

input[type="checkbox"]{
	display: none;
}
.checkButton  {  
    display:block;  
    margin-right: 1.5rem;
    width: 1.5rem;  
    height: 1.5rem;  
    border-radius: 15px;
    border:1px solid #e8e8e8;
    background-color: #fff;
    box-sizing:border-box;  
} 
input[type="checkbox"]:checked + .checkButton {
	 background-color: #fbfcff;
	 border: 5.5px solid #1d7ad9; 
}
.moreInfo {
	display: flex;
	justify-content: flex-end;
}
.moreInfoMenu {
	display: flex;
	margin-bottom: 0;
	border:1px solid #e8e8e8;
}
.seeMore {
	padding-top: 0.9rem;
	padding-bottom : 0.9rem;
	padding-left: 1.5rem;
	padding-right: 0.3rem;
}


.moreInfoMenu select {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
/*	display: none;*/
	border: none;
	padding: 1rem;
	padding-right: 3rem;
	background:url("images/arrow.png") no-repeat;
	background-position: 95%,center;

}
.downButton {
	display: inline-block;
	width: 1.9rem;
	height: 2.2rem;
	border-radius: 1.5px;
	text-align: center;
	line-height: 2.2rem;
	background-color: #1d7ad9;
	margin-left: 2rem;

}
.icon-daosanjiao {
	font-size: 0.9rem;
	color: #fff;
}

/*              btn-area
==========================*/
.btn-area {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 22rem;
	border-top: 1px solid #e7e7e7;;
}
.btn-area button {
	width: 14rem;
	height: 3.6rem;
}


/*              footer
==========================*/
footer {
	font-size: 1.1rem;
	color: #999;
}
footer a{
	color: #999;
}
footer a:hover {
	text-decoration:none;
	color: #1d7ad9;
}

.aboutus {
	display: flex;
	flex-wrap: wrap;
}
.aboutus a {

	margin-bottom: 1rem;
	width: 30%;
}
.info img {
	float: right;
}
.bottombar {
	background-color: #1d7ad9;
	color: #fff;
	height: 3rem;
}
.bottombar_wrapper {
	width: 33.3%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.bottombar_wrapper p{
	font-size: 0.9rem;
	line-height: 3rem;
}