* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 625%;
	overflow-x: hidden;
}
header {
	height: .34rem;
	background-color: #29bde0;
	color:white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .1rem;
	border-bottom: 1px solid white;

}
header p{
	font-size: .17rem;
	margin-bottom: 0;
}
body{
	background-color: #29bde0;
}


.board {
	height: 6.5rem;
	width: 4.5rem;
	margin: .8rem auto 1.2rem;
	border: 4px solid white;
	background-color: #ffedc5;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
#num {
	height: .68rem;
	width: .68rem;
	border-radius: 50%;
	color: #f56b81;
	font-size: 40px;
	border:3px solid #ffedc5;
	position: absolute;
	background-color: white;
	text-align: center;
	line-height: .68rem;
	top:-.34rem;
	left: 1.91rem;
}
.description {
	border-bottom: 2px solid white;
	height: 4rem;
}


#check {
	display: block;
}
#secret {
	display: none;
}
#show {
	display: block;
}
#passToNext {
	display: none;
}

#toJudge {
	display: none;
}

.headpng {
	height: 2.2rem;
	width: 2.2rem;
	border-radius: 50%;
	margin: .5rem auto .4rem;
	background:url("../images/result.png") center center no-repeat;
}
#role {
	font-size: 40px;
	color: #29bde0;
}
#words {
	font-size: 40px;
	color: #f56b81;
}
.note p{
	font-size: 26px;
	color: #fca000;
	margin-top: .35rem;
	margin-left: .3rem;
	margin-right: .3rem;

}
footer {
/*	height: 9.5rem;*/
	background-color: #29bde0;
	display: flex;
	justify-content: center;
	align-items: center;

}
.footer-wrap{
	width: 100%;
	padding:.21rem .36rem .3rem;
}
footer .kill {
	height: .45rem;
	font-size: .2rem;
	background-color: #fbb435;
	color: #fff;
}