@charset "utf-8";
//@import "common";

.jobcard {
    position: relative;
    overflow: hidden;
    margin: 20px 12px 12px;
    border-radius: 5px;
    background: #fff;
    table {
        border: 2px solid rgb(240,240,240);
        border-collapse: collapse;
        font-size: 12px;
        color: rgb(153, 153, 153);
        word-break: break-all;
        p{
            padding: 0 10px;
        }
        tr {
            border-bottom: 2px solid rgb(240,240,240);
            &:last-child {
                border: none;
            }

            td {
                width: 50%;
                padding: 10px 0;
                border-right: 2px solid rgb(240,240,240);
                text-indent: 10px;
                &:last-child {
                    border: none;
                }
                .left {
                    width: 30%;
                    float: left;
                    .thumbnail {
                        max-width: 120px;
                    }
                }

                .right {
                    float: right;
                    width: 55%;
                    padding-left: 10px;
                }
                h4 {
                    line-height: 3;
                    font-size: 16px;
                    color: rgb(51, 51, 51);
                }

                .jobcard-discription {
                    font-size: 14px;
                    color: rgb(51, 51, 51);
                }

                .date-binding {
                    color: rgb(242,12,0);
                }
                .star-card {
                    display: inline-block;
                    width: 16px;
                    height: 14px;
                    margin: 0 5px;
                    vertical-align: middle;
                    background: url("../img/star-card.png") center center no-repeat;
                    background-size: 100%;

                }
                .inner-table {
                    width: 100%;
                    display: table;
                    margin: -10px 0;
                    .td-left {
                        display: table-cell;
                        width: 35%;
                        vertical-align: middle;
                        text-align: center;
                    }
                    .td-right {
                        display: table-cell;
                        border-left: 2px solid rgb(240,240,240);
                        .row {
                            display: flex;
                            justify-content: space-between;
                            padding: 10px;
                            border-bottom: 2px solid rgb(240,240,240);
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }

            }
        }

    }
    .jobcard-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background-color: rgba(0,0,0,.75);
        color: #fff;
        opacity: 0;

        .job {
            padding-top: 40px;
            font-size: 18px;
            text-align: center;
        }
        p {
            padding: 40px;
            font-size: 16px;
            text-indent: 2em;
            text-align: left;
        }

    }

    &:hover .jobcard-mask {
    	 opacity: 1;
    	animation:slideInDown 1s;
    }
}


@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

