@charset "utf-8";
//@import "common";
//@import "layout";

.sideBar-wrap {
    float: left;
    width: 100%;
}
@media (min-width:768px) {
    .sideBar-wrap {
        width: 25%;
    }
}
.sideBar {
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    dl {
        line-height: 2.5;
        text-align: left;

        dt {

            padding-left: 25%;
            border-bottom: 1px solid #ccc;
            font-size: 22px;
            color: rgb(51, 51, 51);
        }

        dd {

            padding-left: 25%;
            font-size: 16px;
            a {
                display: inline-flex;
                align-items: center;
                color: rgb(41, 176, 120);
            }
            .item-icon {
                display: inline-block;
                margin-right: 5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid rgb(255, 101, 14);
                background: transparent;

            }
            &:hover,&.active {
                a{
                 color: rgb(255, 101, 14);   
                }
                .item-icon {
                    background-color: rgb(252,163,109);
                }
            }
        }
    }
}
