@import "_reset.scss";
$primaryColor:#5fc0cd;
$white:#fff;
@mixin clearcut {
	padding:0;
	margin:0;
}


html {font-size:62.5%;}
body {
	
	@include clearcut;
}

header {
	background-color:$primaryColor;
	height:4rem;
	line-height:4rem;
	position:fixed;
	width:100%;
	top:0;
	img {
		width: 1rem;
		position:absolute;
		top:1rem;
		left: 1.5rem;

	}
	p {
		color:$white;
		text-align: center;
		font-size: 1.6rem;
	}
}


main {
	margin-top:4rem;
}
.hero {
	background:url('images/bg.png') no-repeat top left;
	background-size: cover;
	height: 45vw;
	width: 100%;
	color: $white;
	display: flex;
	align-items: center;
	img {
		display: block;
		width: 7.5rem;
		height: 7.5rem;

		margin-left: 1.3rem;
		margin-right: 1.8rem;
	}
	.user-name {
	font-size: 1.6rem;
	margin-bottom: 1rem;
		span{
			font-size: 1.245rem;
		}
	}
	.user-address img{
	width: 1rem;
	height: auto;
	float: left;
	margin-left: 0.2rem;
	margin-right: 0.7rem;
	}

}
$greyline:#e1e5e7;
$redchar:#e26163;

.des {
	font-size: 1.4rem;
	margin-bottom: 6rem;
	.main-title {
	
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: 0.1rem $greyline solid;
	>div {
		height: 1.2rem;
		border-left: 0.2rem $primaryColor solid;
		margin-left: 1.3rem;
		padding-left: 1.1rem;
	}
	}
}

.main-list {
	li {
	margin-left: 1.5rem;
	display: flex;
	border-bottom:  0.1rem #e1e5e7 solid;
	 &:last-child{
	 	border:none;
	 }
	}
	#stars{
	padding-bottom: 1.5rem;
	padding-top:1.5rem;
	.main-th1{
		img {
			width: 1rem;
			height: auto;
			margin-right: 0.5rem;

			}
			&:nth-child(1){
				margin-left: 1.2rem;
				padding-right: 0.8rem;
				margin-right: 0.8rem;
				border-right: 0.2rem #f8f9f9 solid;
				}
		} 
	}
	.table {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		display: flex;
		align-items: center;
		.main-th2 {
		height: 1.2rem;
		color: #e1e5e7;
		padding-left: 1.1rem;
		padding-right: 1.1rem;
		border-right:0.1rem solid #f1f3f4;
		min-width: 5rem;
		font-size: 1.2rem;
		}
		.main-th3 {
			padding-left: 1.2rem;
			#self-intro {
				font-size: 1.245rem;
			}
		}
		.th4 {
			color: $redchar;
		}
	}
	
}

@mixin roundy {
		font-size: 1.5rem;
		border-radius: 1rem;
		width: 49%;
		height: 3rem;
		margin-right: 1%;

		border:0.2rem solid $primaryColor;

}

footer {
	box-sizing: border-box;
	padding: 0 1rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: flex-end;
	background-color:$white;
	height: 6rem;
	padding-bottom: 0.5rem;
	border-top:  0.1rem $greyline solid;
	button{
		&:focus {
		outline: none;}
		
	}
	.btn-message {
		@include roundy;
		background-color: $white;
		color: $primaryColor;
		}
		.btn-phone {
		@include roundy;
		background-color:$primaryColor;
		color: $white;
		}

}