@import "_reset.scss";
$backgroundColor:#29bde0;
$whiteColor:#fff;
$headingColor:#b9e9f5;
@mixin logo($picture) {
	.#{$picture}{
		background: url("images/#{$picture}.png") no-repeat;
		background-size: cover;
		width: 2rem;
		height: 2rem;
	}
}

html{
	font-size:62.5%;
}
body {
	padding: 0;
	margin:0;
	font-size: 1.5rem;
}
a { color: #847761; }
a:link { text-decoration: none;}
header {
	background-color: $backgroundColor;
	height: 3.4rem;
	padding-left: 1.1rem;
	padding-right: 1.1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $whiteColor;
	font-size: 1.7rem;

	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:99;
	border-radius:0;

	@include logo(bars);
	@include logo(cross);
}

.heading {
	background-color: $headingColor;
	height: 4rem;
	color: #464646;
	font-size: 1.3rem;
	line-height: 4rem;
	position: relative;
	margin-top: 3.4rem;
	.heading-text {
		margin-left: 2.5rem;
	}
	#playbutton {
		height: 2.6rem;
		width: 2.6rem;

		position: absolute;
		top: 0.8rem;
		right: 0.9rem;

	}
	.from {
		width: 0.8rem;
		height: 0.7rem;
		background:url("images/3x.png") no-repeat;
		background-size: cover;
		position: absolute;
		left: 3.5rem;
		bottom: -0.7rem;
	}
}


.wraper {
	background-color: $backgroundColor;
	overflow: hidden;
	margin-bottom:9.5rem;
	.note {
		color: $whiteColor;
		font-size: 1.2rem;
		padding: 1.2rem 2.1rem;
	}
	.selection {
		display: flex;
		justify-content: space-around;
		padding: 0.8rem 2rem;
		margin-bottom: 5%;
		margin-right: -15px;
   		margin-left: -15px;
   		&:before, 
   		&:after {
		  display: table;
		  content: " ";
		}
		.col-xs-4 {
			display: flex;
			justify-content: center;
			  position: relative;
			  min-height: 1px;
			  padding-right: 15px;
			  padding-left: 15px;
			  width: 33.33333333333333%;
			 .select{&:hover{.operation {opacity: 1;}   } };

			 .choice {
					width: 22vw;
					height: 22vw;
					border: 0.1rem solid #fff;
					display: flex;
					flex-flow: column nowrap;
					text-align: center;
					vertical-align: center;
					position: relative;
			.name {
				background-color: #f5c97b;
				flex-grow: 1;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.number {
				background-color: #83b09a;
				color: #d7e5de;
			}
			.operation {
				width: 100%;
				position: absolute;
				bottom: -25%;
				left: 0;
				display: flex;
				justify-content: space-between;
				opacity: 0;
				div {
					width: 4vw;
					height: 4vw;
					background-color: $whiteColor;
					display: flex;
					justify-content: center;
					align-items: center;
					
				}
				img {width: 70%;height:auto;}
			}//end operation



			 }
			 



		}
	}

}

footer {
	height: 9.5rem;
	background-color: #29bde0;
	display: flex;
	justify-content: center;
	align-items: center;
	position:fixed;
	bottom:0;
	right:0;
	left:0;
	z-index:99;
	border-radius:0;
	.footer-wrap{
		width: 100%;
		padding:2.1rem 3.6rem 3rem;
		.kill {
		width: 100%;
		height: 4.5rem;
		font-size: 2rem;
		background-color: #fbb435;
		color: #fff;
		display: block;
		border-radius:4px;
		line-height: 4.5rem;
		text-align: center;
		}
	}


}